.add-thumbnail {
  height: 2.235em;
  width: 2.3em;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: Gainsboro;
  background-color: white;
}


.add-thumbnail:hover {
  color: #E27D60;
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
