.main {
  width: 100%;
  height: 100%;
  /* margin-top: 5em; */
  overflow-y: scroll;
}

button:hover {
  cursor: pointer;
}

.btn-md {
  padding: .75em;
  background-color: #E27D60;
  border: none;
  color: white;
  font-size: .6em;
}

/* #E27D60 */
/* #C38D9B  */
/* #41B3A3 */
/* #E8A87C */
/* #85CDCB */
/* #7EC3B0 */
