.main {
  width: 100%;
  height: 100%;
  /* margin-top: 5em; */
  overflow-y: scroll;
}

button:hover {
  cursor: pointer;
}

.btn-md {
  padding: .75em;
  background-color: #E27D60;
  border: none;
  color: white;
  font-size: .6em;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61); / Some darker color when you click it */
    -webkit-border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}


/* #E27D60 */
/* #C38D9B  */
/* #41B3A3 */
/* #E8A87C */
/* #85CDCB */
/* #7EC3B0 */
