.instance {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 20em;
  width: 13em;
  position: realtive;
  cursor: pointer;
}

.instance-image-drag {
  align-self: flex-start;
}

.instance-drag-icon {
  font-size: .9em;
  cursor: pointer;
  padding-top: .5em;
  padding-left: .5em;
  color: #E27D60;
  padding-bottom: 2em;
}

.instance-drag-info {
  align-self: flex-start;
}

.instance-drag-pen {

}


.instance-drag-icons {
  width: 90%;
  align-self: flex-start;
  justify-content: flex-start;
  height: 2em;
  min-height: 2em;
}
