.instance {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.instance-image-drag {
  height: 87%;
  width: 87%;
  align-self: center;
}

.instance-drag-trash {
  margin: .3em;
  margin-right: 1em;
  font-size: .9em;
  color: red;
  cursor: pointer;
}
