.instance {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.instance-image-drag {
  height: 45%;
  width: 90%;
  align-self: flex-start;
}

.instance-drag-icon {
  font-size: .9em;
  cursor: pointer;
  margin-top: .5em;
  margin-left: .5em;
  color: #E27D60;
}

.instance-drag-info {
  align-self: flex-start;
}

.instance-drag-name {
  font-weight: bold;
}

.instance-drag-notes {
  font-size: .85em;
  max-height: 7.3em;
  overflow-y: scroll;
}

.instance-drag-pen {

}


.instance-drag-icons {
  display: flex;
  width: 90%;
  align-self: flex-start;
  justify-content: flex-start;
}
