.instance {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 20em;
  width: 13em;
}

.instance-image-drag {
  height: 45%;
  width: 75%;
  align-self: flex-start;
}

.instance-drag-icon {
  font-size: .9em;
  cursor: pointer;
  margin-top: .5em;
  margin-left: .5em;
  color: #E27D60;
}

.instance-drag-info {
  align-self: flex-start;
}

.instance-drag-name {
  /* font-weight: bold; */
  margin-left: .8em;
}

.instance-drag-pen {

}


.instance-drag-icons {
  display: flex;
  width: 90%;
  align-self: flex-start;
  justify-content: flex-start;
}
