.canvas {
  background-color: Gainsboro;
  width: 100%;
  overflow-y: scroll;
}

.layout {
  width: 100%;
}

.grid {
}

.react-grid-layout {
  padding-left: 2em;
  padding-top: 2em;
  position: relative;
  min-height: 100vh;
  margin-bottom: 5em;
  margin-top: 14em;
}

/* background-color: #41B3A3; */
