.canvas {
  background-color: Gainsboro;
  /* display: flex;
  flex: 1; */
  width: 100%;
  padding: 2em;
  overflow-y: scroll;
}

.layout {
  width: 100%;
}

.react-grid-layout {
  position: relative;
}

/* background-color: #41B3A3; */
