.instance-create-asanas {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 2em;
  margin-bottom: 5em;
  padding: 2em;
  width: 70vw;
  height: 55vh;
}

.instance-create-asanas > :last-child {
  margin-bottom: 10em;
}

.create-instance-container {
  display: flex;
  justify-content: center;
}

.instance-create-thumbnail {
  height: 10em;
  width: 10em;
  margin: 2em;
}

.asana-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
