.instance-create-asanas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2em;
  margin-bottom: 5em;
  padding: 2em;
  width: 80vw;
  min-height: 55vh;
}

.filling-empty-space-childs {
  height: 10em;
  height:0;
}

/* .instance-create-asanas > :last-child {
  margin-bottom: 10em;
} */

.create-instance-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instance-create-thumbnail {
  height: 10em;
  width: 10em;
  margin: 2em;
}

.asana-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
