.instance-create-asanas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2em;
  margin-bottom: 5em;
  padding: 2em;
  width: 70vw;
  height: 55vh;
}

.instance-create-thumbnail {
  height: 10em;
  width: 10em;
  margin: 2em;
}
