.modal {
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #41B3A3;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 70%;
  width: 70%;
  overflow-y: scroll;
}

.close-modal {
  font-size: 2em;
  color: white;
}

.close-modal:hover {
  cursor: pointer;
}

.show-modal {
  display: absolute;
}

.hide-modal {
  display: none;
}
