.selector {
  position: absolute;
  z-index: 1;
  display: flex;
  background-color: whitesmoke;
  height: 12em;
  flex-direction: column;
  padding: 1em;
  padding-left: 2em;
  padding-top: .7em;
  width: 83%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.selector-container {
  display: flex;
  height: 13em;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
}

.selector-thumbnail {
  height: 7em;
  max-height: 7em;
  min-height: 7em;
  min-width: 7em;
  max-width: 7em;
  padding-left: 1.3em;
}

.asana-name {
  padding-left: 1.3em;
}

.selector-search {
  width: 20em;
  height: 2em;
  font-size: .9em;
  margin-left: 1.5em;
  margin-top: -2.75em;
}
