.name {
  font-size: 1.5em;
}

.level {
  font-size: 1em;
}

.sequence {
  color: #C38D9B;
}

.sequence-container:hover .sequence {
  cursor: pointer;
  color: #E27D60 !important;
}

.sequence-trash {
  margin: .3em;
  margin-left: 1em;
  font-size: .9em;
  color: red;
  cursor: pointer;
}

.sequences-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em;
}

.sequence-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 20em;
  margin-bottom: 1em;
}

#new-sequence {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

#sequences-title {
  color: #41B3A3;
}
