.sequence-grid {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 5em;
  padding-right: 2em;
}

.sequence-grid-container {
  height: 100%;
  width: 100%;
  margin-top: 2em;
}

.sequence-name {
  text-align: center;
  font-size: 2.2em;
}

.sequence-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.export-icon {
  margin-left: 1em;
  margin-bottom: .5em;
  color: darkgrey;
}

.export-icon:hover {
  cursor: pointer;
  color: #E27D60;
}
