.sequence-grid {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 5em;
  padding-bottom: 5em;
}

.sequence-grid-container {
  height: 70%;
  width: 100%;
  margin-top: 2em;
}

.sequence-name {
  text-align: center;
  font-size: 2.2em;
}
