.sequences-container {
  padding: 2em;
  padding-top: 0;
  width: 80%;
  margin-top: 5em;
  margin-bottom: 5em;
}

.sequences-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}

#new-sequence {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  cursor: pointer;
}

#sequences-title {
  color: #41B3A3;
}
