.sequence-grid {
  display: flex;
  flex-basis: 100px;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: visible;
  padding: 5em;
  padding-right: 2em;
}

.sequence {
  display: flex;
  justify-content: center;
}

.sequence-grid-container {
  height: 100%;
  width: 90%;
  margin-top: 2em;
  margin-bottom: 2em;
  align-self: center;
  padding-top: 2em;
}

.sequence-name {
  text-align: center;
  font-size: 2.2em;
}

.sequence-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
