.sidebar {
  /* background-color: #E8A87C; */
  width: 17em;
  background-image: url("../images/sidebar.jpg");
  background-size: 100%;
  z-index: 100;
  position: relative;
}

.sidebar-back {

}

.sidebar-opac {
  background-color: black;
  height: 100vh;
  opacity: .8;
  z-index: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  color: white;
}

.sidebar-opac:div {
  
}


.list-tem-text {
  color: white;
}
