.sidebar {
  /* background-color: #E8A87C; */
  width: 17em;
  background-image: url("../images/sidebar.jpg");
  background-size: 100%;
  z-index: 1;
  position: relative;
}

.sidebar-back {

}

.sidebar-opac {
  background-color: black;
  height: 100vh;
  opacity: .75;
  z-index: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  color: white;
}

.sidebar-opac:div {
}

.sidebar-item {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  /* border-radius: .2em; */

}

.sidebar-item-selected {
  background-color: #41b3a3;
}

.sidebar-item:hover {
  color: #E8A87C;
  cursor: pointer;
  opacity: 1;
}

.sidebar-item-label {
  margin-left: 1em;
}

/* #E8A87C */
