.sidebar {
  background-color: #41b3a3;
  min-width: 14em;
  height: 100%;
}

.sidebar-back {

}

.sidebar-item {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  color: black;
  /* border-radius: .2em; */

}

.sidebar-icon {
  color: white;
}

.selected {
  background-color: #E8A87C;
  opacity: 1;
}

.sidebar-item:hover * {
  cursor: pointer;
  opacity: 1;
  color: black;
}

/* .sidebar-item-label:hover {
  color: #E8A87C;
} */

.sidebar-item-label {
  margin-left: 1em;
  color: white;
}

/* #E8A87C */
